body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-icons.size-18 { width: 18px; font-size: 18px; }
.material-icons.size-24 { width: 24px; font-size: 24px; }
.material-icons.size-36 { width: 36px; font-size: 36px; }
.material-icons.size-48 { width: 48px; font-size: 48px; }

/* misc */

.bar__wrapper {
  height: 55px;
}

.history-list .list-group {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.profiles-list-group {
  height: calc(100vh - 230px);
  overflow-x: hidden;
  overflow-y: auto
}

.main-tab-panel {
  height: calc(100vh - 60px);
  overflow-y: auto;
}
